<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="POC.Repository" />
  <namespace name="POC.Repository" />
  <namespace name="POC.Repository.Interface" />
  <namespace name="POC.Repository.Implementation" />
   <container>
    <register type="ILogger" mapTo="Logger" />
     <register type="IProjectRepository" mapTo="ProjectRepository" />         
  </container>
</unity>